* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

header {
    background: url("../images/bg_header.png");
    min-height: 959px;
    background-size: cover;
}

nav {
    /* max-width: 1170px; */
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 1em;
}

nav .logo a {
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
}

nav .menu {
    text-align: center;
    width: 50%;
}

nav .menu ul {
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;

}

nav .menu ul li a {
    text-decoration: none;
    color: #e1e1e1;
    font-size: 18px;
}

nav .menu ul li a:hover,
nav .menu ul li a.active {
    color: #ffffff;
}

nav .logo,
nav .social-media-container {
    width: 15%;
}


nav .social-media-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 100%;
}


/*  */

header .container {
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header .container .left-side,
header .container .right-side {
    width: 50%;
    min-height: 634px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .container .left-side {
    padding-top: -150px;
}

header .container {
    padding-top: 80px;
}


header .container .left-side .box h1 {
    font-size: 60px;
    color: #ffffff;
    line-height: 1.2;
}

header .container .left-side .box p {
    color: #e1e1e1;
}

.btn-container {
    margin-top: 60px;
}

.btn {
    padding: 15px 40px;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.btn-download {
    background: #fc6a42;
    margin-right: 15px;
}

.btn-features {
    background: #4466c9;
}

section.features {
    margin: 100px 0;
}


section.features h2,
section.widgets h2,
section.screenshots h2,
section.reviews h2 {
    text-align: center;
    color: #648cff;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
}

section.features p,
section.widgets p,
section.screenshots p,
section.reviews p {
    color: #999999;
    font-size: 18px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 100px;
}


section.features .features-container,
section.widgets .widgets-container,
section.screenshots .screenshots-container,
section.reviews .reviews-container {
    /* width: 1170px; */
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (min-width: 1100px) {
    section.features .features-container,
section.widgets .widgets-container,
section.screenshots .screenshots-container,
section.reviews .reviews-container {
    width: 1170px;
}
}

.features-container .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: calc(100% / 3);
}

.img-box {
    margin-right: 20px;
}

.text-box h3 {
    color: #353854;
    font-size: 24px;
    margin-bottom: 30px;
}

.text-box span {
    color: #aeaeae;
    font-size: 16px;
}

.features-container .box:not(:last-child) {
    margin-right: 40px;
}

.space {
    height: 100px;
}

.left,
.right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


section.screenshots .screenshots-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

section.screenshots .screenshots-container .text-box {
    margin-top: -150px;
    margin-left: 60px;
}


section.screenshots .screenshots-container .text-box h1 {
    font-size: 36px;
    text-transform: uppercase;
    color: #648cff;
    font-weight: bold;
}

section.screenshots .screenshots-container .text-box span {
    font-size: 24px;
    font-weight: lighter;
}

section.screenshots .screenshots-container .text-box img {
    margin-top: 40px;
}

.no-margin {
    margin-left: 0;
    margin-right: 60px;
}


section.reviews .reviews-container .row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

section.reviews .reviews-container .row .opinion img:not(.bottom) {
    display: block;
    margin-bottom: 10px;
}

section.reviews .reviews-container .row .opinion img.bottom {
    float: right;
    margin-top: 10px;
    display: block;
}

.opinion .opinion-text,
.opinion .opinion-author {
    display: block;
}

.opinion .opinion-text {
    color: #353854;
    font-size: 24px;
}

.opinion .opinion-author {
    color: #353535;
    font-size: 18px;
    margin-top: 30px;
}

section.reviews .reviews-container .row:first-child {
    margin-right: 100px;
}

section.download {
    background: url('../images/bg_download.png');
    height: 462px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

section.download .download-container .box h2 {
    font-size: 36px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

section.download .download-container .box p {
    color: #ffffff;
    font-size: 18px;
}

section.download .download-container {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

section.download .download-container .store_container {
    margin-top: 40px;
}


footer {
    background: #353854;
}

hr {
    border-color: #434769;
    margin-bottom: 50px;
}

.copyrights-container {
    width: 1170px;
    margin: 0 auto;
}

.copyrights-container p {
    color: #565b87;
    font-size: 16px;
    text-align: right;
    padding-bottom: 50px;
}


span.orange {
    color: #fc6a42;
}

span.blue {
    color: #5776d3;
}


/* Responsive */

@media (max-width: 768px) {
nav > .social-media-container {
    display: none;
}

.container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.container .left-side, .container .right-side {
    width: 100% !important;
}

.features-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: auto !important;
        -ms-flex-pack: distribute;
            justify-content: space-around;

}

.features-container .box {
    width: 40%;
    margin: 0 auto;
    max-width: 40% !important;
}

.features-container .box:last-child{
    margin: 50px auto;
}


.widgets-container {
    width: auto !important;
}

.widgets-container .left, .widgets-container .right {
    display: none;
}

.widgets-container .widget-content img {
    max-width: 100%;
}

.screenshots-container {
    width: auto !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.screenshots-container .img-box {
    margin-right: 0;
}

.reviews-container {
    width: auto !important;
    margin: 0 20px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.reviews-container .space {
    display: none;
}

.reviews-container .opinion {
    margin-bottom: 70px;
}

.download-container {
    width: auto !important;
}

.download-container .box {
    margin: 0 auto;
}

footer nav{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

footer nav .logo, 
footer nav .menu, 
footer nav {
    width: auto !important;
    text-align: center;
}

footer nav .logo {
    margin-bottom: 30px;
}

.copyrights-container {
    width: auto !important;
}
.copyrights-container p {
    text-align: center;
}

.menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

input[type=checkbox] {
  display: none;
}

/* label[for="toggle"] {
    display: block !important;
} */

#toggle:checked ~ label ~ ul {
    display: none;
}

.nav-icon {
  margin-bottom: 1em;
  float: right;
}

.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
  background-color: #fff;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  width: 35px;
  margin: 7px 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.logo {
    width: auto !important;
}

.menu {
    width: 150px !important;
}

header .menu ul {
    float: right;
    text-align: right;
    width: 100%;
}

header .container {
    padding-top: 0 !important;
}

nav {
    height: 160px;
}

.order > .text-box {
            -webkit-box-ordinal-group: 3;
                -ms-flex-order: 2;
                    order: 2;
}

header .right-side {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
}

header .left-side {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

section.screenshots .screenshots-container .text-box {
    margin-top: 0 !important;
}
}

@media (max-width: 500px) {
    .features-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
    .features-container .box {
        max-width: 100% !important;
        width: 100% !important;
        margin: 50px 10px !important;
    }

    .features-container .text-box {
        width: 50%;
    }

    .screenshots-container .img-box img {
        max-width: 100%;
    }

    section.screenshots .screenshots-container .text-box {
        margin-top: 0;
    }
    .download-container .box {
        text-align: center;
    }

    .left-side .box {
        text-align: center;
    }

    .left-side .btn-container {
        margin-top: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .left-side .btn-container .btn.btn-download {
        margin-right: 0;
    }

    .left-side .box h1 {
        margin-top: 0;
    }

    img {
        max-width: 100%;
    }

    .screenshots-container .text-box {
        margin: 0 20px !important;
    }
}


#toggle {
    display: none;
}


@media (min-width: 768px) and (max-width: 1200px) {
    .opinion {
        margin: 0 20px;
    }

    .widgets-container img {
        max-width: 100%;
    }

    header .container img{
        max-width: 100%;
    }

    header .container .left-side, header .container .right-side, section.screenshots .screenshots-container, .download-container .box{
        padding: 0 20px;
    }

    
}