body {
  background: #fff;
  color: #333;
  font-family: 'Lato', sans-serif;
}

.container {
  display: block;
  width: 400px;
  margin: 100px auto 0;
}

ul {
  margin: 0;
  padding: 0;
}

input, button {
  outline: none;
}

button {
  background: none;
  border: none;
  font-size: 15px;
  width: 80px;
  margin: 20px 0 0;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}

input[type="text"] {
  margin: 0;
  margin-top: 10px;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: 'Lato', sans-serif;
  color: #888;
}

label[for='todo-input'] {
  display: block;
  margin: 0 0 20px;
}
input#todo-input {
  float: left;
  width: 298px;
}

li {
  width: 400px;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  -webkit-animation: slide-down .3s ease-out;
  -moz-animation: slide-down .3s ease-out;
}

span {
  float: right;
  cursor: pointer;
}

h3,
label[for='todo-input'] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.done {
  color: green;
}

.delete {
  color: red;
}


button:hover {
  color: #f4511e;
}

@-webkit-keyframes slide-down {
      0% { opacity: 0; -webkit-transform: translateY(-100%); }
     50% { opacity: 0.5; -webkit-transform: translateY(-50%); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
      0% { opacity: 0; -moz-transform: translateY(-100%); }
     50% { opacity: 0.5; -moz-transform: translateY(-50%); }
    100% { opacity: 1; -moz-transform: translateY(0); }
}
